.v-toolbar {
    contain: layout;
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    transition: transform .2s cubic-bezier(.4,0,.2,1),background-color .2s cubic-bezier(.4,0,.2,1),left .2s cubic-bezier(.4,0,.2,1),right .2s cubic-bezier(.4,0,.2,1),box-shadow .28s cubic-bezier(.4,0,.2,1),max-width .25s cubic-bezier(.4,0,.2,1),width .25s cubic-bezier(.4,0,.2,1);
    position: relative;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.v-toolbar--flat {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12)!important;
}

.v-toolbar__content, .v-toolbar__extension {
    padding: 4px 16px;
}

.v-toolbar__content, .v-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
}

.v-toolbar--dense .v-toolbar__content, .v-toolbar--dense .v-toolbar__extension {
    padding-top: 0;
    padding-bottom: 0;
}

.v-toolbar__content, .v-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
}

.v-app-bar.v-app-bar--fixed {
    position: fixed;
    top: 0;
    z-index: 5;
}

.v-sheet.v-app-bar.v-toolbar {
    border-radius: 0;
}

.coming-soon {
    background: linear-gradient(
            90deg,#ff7a46,#ff485d,#ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#header-cartesiam {
    height: 48px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 0px;
    right: 0px;
    background-color: rgb(24, 24, 24);
    border-color: rgb(24, 24, 24);
}



