element.style {
    height: 48px;
}
.v-toolbar--dense .v-toolbar__content, .v-toolbar--dense .v-toolbar__extension {
    padding-top: 0;
    padding-bottom: 0;
}
.v-toolbar__content, .v-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
}
.v-toolbar__content, .v-toolbar__extension {
    padding: 4px 16px;
}
* {
    padding: 0;
    margin: 0;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
.theme--light.v-sheet {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0,0,0,.87);
}
.theme--light.v-application {
    background: #fff;
    color: rgba(0,0,0,.87);
}
.v-application {
    font-family: Roboto,sans-serif;
    line-height: 1.5;
}
html {
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}
*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}