@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jxpyms');
    src:  url('../fonts/icomoon.eot?jxpyms#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jxpyms') format('truetype'),
    url('../fonts/icomoon.woff?jxpyms') format('woff'),
    url('../fonts/icomoon.svg?jxpyms#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
    content: "\ea91";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-linkedin:before {
    content: "\eac9";
}

.v-footer {
    align-items: center;
    display: flex;
    flex: 0 1 auto!important;
    flex-wrap: wrap;
    padding: 6px 16px;
    position: relative;
    transition-duration: .2s;
    transition-property: background-color,left,right;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.v-footer--absolute, .v-footer--fixed {
    z-index: 3;
}

.v-footer--absolute {
    position: absolute;
}

.v-footer--padless {
    padding: 0;
}


.theme--light.v-footer {
    background-color: #f5f5f5;
    color: rgba(0,0,0,.87);
}

.v-sheet.v-footer {
    border-radius: 0;
}

.v-footer--absolute:not(.v-footer--inset) {
    width: 100%;
}

.v-sheet.v-footer:not(.v-sheet--outlined) {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
}

.application-cartesiam.footer-cartesiam {
    height: 216px;
}

#footer-cartesiam {
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(24, 24, 24);
    border-color: rgb(24, 24, 24);
}

.download-section {
    background-color: #e5e5e5;
}