<style>
    .first {
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -o-transition: 0.30s;
        -ms-transition: 0.30s;
        font-family: verdana;
        text-decoration: none;
        color: white;
        background-color: #81e55c;
        padding: 9px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px black;
    }

    .first:hover {
        background-color: #a5f488;
    }

    .first:active {
        box-shadow: 0px 0px 0px black;
    }

    .second {
        transition: 0.30s;
        -webkit-transition: 0.30s;
        -moz-transition: 0.30s;
        -o-transition: 0.30s;
        -ms-transition: 0.30s;
        font-family: verdana;
        text-decoration: none;
        color: white;
        background-color: #c0362c;
        padding: 9px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px black;
    }

    .second:hover {
        background-color: #db7f7f;
    }

    .second:active {
        box-shadow: 0px 0px 0px black;
    }

    video {
        -webkit-transition: 0.60s;
        -moz-transition: 0.60s;
        -o-transition: 0.60s;
        -ms-transition: 0.60s;
        border: 1px solid black;
        box-shadow: 0px 0px 10px black;
    }

    video:hover {
        box-shadow: 0px 0px 20px black;
    }
</style>



<div data-sly-use.video="com.mysite.core.models.Video">

    <iframe width="420" height="345" src= "${video.link}" allowfullscreen>
    </iframe>
    <br> <br>
    <div>
        <a class="first" href="#" id="play">${video.play}</a>
        <a class="second" href="#" id="pause">${video.pause}</a>
    </div>
</div>