<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.css @ categories=['cartesiam.footer']}"></sly>
<sly data-sly-call="${clientlib.css @ categories=['cartesiam.commons']}"></sly>

<sly data-sly-test="${wcmmode.edit}" data-sly-call="${clientlib.css @ categories='cq.authoring.editor'}"/>


<div class="application-cartesiam footer-cartesiam"
     data-sly-use.footer="com.mysite.core.models.Footer">
    <footer class="v-footer v-sheet theme--light v-footer--absolute v-footer--padless" id="footer-cartesiam">
        <div class="containerCartesiam container--fluid ma-0 pa-0">
            <div class="row no-gutters justify-center">
                <div class="col col-12">
                    <sly data-sly-use.downloadNanoEdge="mysite/components/downloadNanoEdgeTemplate/downloadNanoEdgeTemplate.html"
                         data-sly-call="${downloadNanoEdge.render @ downloadText=footer.downloadText, downloadLink=footer.downloadLink, downloadTextButton=footer.downloadTextButton}"></sly>
                </div>
            </div>

            <div data-sly-list.icon="${footer.socialLinks}" class="row mt-5 no-gutters justify-center">
                <a href="${icon.socialUrl}" target="_blank"
                   class="mx-4 white--text v-btn v-btn--icon v-btn--round theme--light v-size--default">
                    <span class="v-btn__content">
                        <i aria-hidden="true" class="v-icon notranslate mdi theme--light ${icon.socialName}"
                           style="font-size: 17px;"></i>
                    </span>
                </a>
            </div>
            <div data-sly-list.link="${footer.footerLinks}" class="row no-gutters justify-center">
                <a href="${link.linkLabelUrl}" target="_blank"
                   class="my-2 v-btn v-btn--rounded v-btn--text theme--light v-size--default white--text">
                    <span class="v-btn__content"> ${link.linkLabel} </span>
                </a>
            </div>
            <div class="row white--text no-gutters justify-center"> ${footer.copyrightText}
                <a href="${footer.privacyLink}" target="blank"
                   style="text-decoration: none; color: white;"> ${footer.privacyText} </a>
            </div>
        </div>
    </footer>
</div>