<div class="application-cartesiam">
    <sly data-sly-use.download="com.mysite.core.models.DownloadNanoEdge"
         data-sly-use.downloadNanoEdge="mysite/components/downloadNanoEdgeTemplate/downloadNanoEdgeTemplate.html"
         data-sly-call="${downloadNanoEdge.render @ downloadText=download.downloadText, downloadLink=download.downloadLink, downloadTextButton=download.downloadTextButton}"></sly>
</div>