.coming-soon[data-v-5f163166] {
    background: linear-gradient(90deg, #ff7a46, #ff485d, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.download-section[data-v-d70c0f94] {
    background-color: #e5e5e5
}

.description p {
    margin-bottom: 0
}

.cardTitle[data-v-3009c5ed] {
    background-color: hsla(0, 0%, 100%, .8) !important;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px)
}

.cardDraft[data-v-3009c5ed] {
    box-shadow: 0 0 0 .3em rgba(249, 168, 37, .4)
}

.cardPrivate[data-v-3009c5ed] {
    box-shadow: 0 0 0 .3em rgba(244, 67, 54, .4)
}

.coming-soon[data-v-1428697d] {
    background: linear-gradient(90deg, #ff7a46, #ff485d, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.background[data-v-1e7b8a2d] {
    background-image: linear-gradient(90deg, #ff7a46, #ff485d, #ff0080)
}

.indicator[data-v-1bcf0b3a] {
    color: #555
}

.backgroung-img {
    background-image: url(../img/banner-bg.c611ed89.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover
}

.indicator {
    color: #555
}

.ql-editor {
    padding: 0 !important
}

.ql-container {
    border: 0 !important
}

.indicator[data-v-1fef234c], .indicator[data-v-05fcf27c] {
    color: #555
}

.background[data-v-79f03025] {
    background-image: linear-gradient(90deg, #ff7a46, #ff485d, #ff0080)
}

.v-expansion-panel-content__wrap {
    padding-right: 10px !important;
    padding-left: 10px !important
}

.switch label[data-v-7ca382a4] {
    margin-bottom: 0 !important
}