.v-application a {
    color: #ff0080;
}

.v-application .primary {
    background-color: #ff0080 !important;
    border-color: #ff0080 !important;
}

.v-application .primary--text {
    color: #ff0080 !important;
    caret-color: #ff0080 !important;
}

.v-application .primary.lighten-5 {
    background-color: #ffc1ff !important;
    border-color: #ffc1ff !important;
}

.v-application .primary--text.text--lighten-5 {
    color: #ffc1ff !important;
    caret-color: #ffc1ff !important;
}

.v-application .primary.lighten-4 {
    background-color: #ffa3ec !important;
    border-color: #ffa3ec !important;
}

.v-application .primary--text.text--lighten-4 {
    color: #ffa3ec !important;
    caret-color: #ffa3ec !important;
}

.v-application .primary.lighten-3 {
    background-color: #ff84d0 !important;
    border-color: #ff84d0 !important;
}

.v-application .primary--text.text--lighten-3 {
    color: #ff84d0 !important;
    caret-color: #ff84d0 !important;
}

.v-application .primary.lighten-2 {
    background-color: #ff64b4 !important;
    border-color: #ff64b4 !important;
}

.v-application .primary--text.text--lighten-2 {
    color: #ff64b4 !important;
    caret-color: #ff64b4 !important;
}

.v-application .primary.lighten-1 {
    background-color: #ff409a !important;
    border-color: #ff409a !important;
}

.v-application .primary--text.text--lighten-1 {
    color: #ff409a !important;
    caret-color: #ff409a !important;
}

.v-application .primary.darken-1 {
    background-color: #df0067 !important;
    border-color: #df0067 !important;
}

.v-application .primary--text.text--darken-1 {
    color: #df0067 !important;
    caret-color: #df0067 !important;
}

.v-application .primary.darken-2 {
    background-color: #bf004f !important;
    border-color: #bf004f !important;
}

.v-application .primary--text.text--darken-2 {
    color: #bf004f !important;
    caret-color: #bf004f !important;
}

.v-application .primary.darken-3 {
    background-color: #a00039 !important;
    border-color: #a00039 !important;
}

.v-application .primary--text.text--darken-3 {
    color: #a00039 !important;
    caret-color: #a00039 !important;
}

.v-application .primary.darken-4 {
    background-color: #800024 !important;
    border-color: #800024 !important;
}

.v-application .primary--text.text--darken-4 {
    color: #800024 !important;
    caret-color: #800024 !important;
}

.v-application .secondary {
    background-color: #ff7a46 !important;
    border-color: #ff7a46 !important;
}

.v-application .secondary--text {
    color: #ff7a46 !important;
    caret-color: #ff7a46 !important;
}

.v-application .secondary.lighten-5 {
    background-color: #ffffca !important;
    border-color: #ffffca !important;
}

.v-application .secondary--text.text--lighten-5 {
    color: #ffffca !important;
    caret-color: #ffffca !important;
}

.v-application .secondary.lighten-4 {
    background-color: #ffeaae !important;
    border-color: #ffeaae !important;
}

.v-application .secondary--text.text--lighten-4 {
    color: #ffeaae !important;
    caret-color: #ffeaae !important;
}

.v-application .secondary.lighten-3 {
    background-color: #ffcd93 !important;
    border-color: #ffcd93 !important;
}

.v-application .secondary--text.text--lighten-3 {
    color: #ffcd93 !important;
    caret-color: #ffcd93 !important;
}

.v-application .secondary.lighten-2 {
    background-color: #ffb179 !important;
    border-color: #ffb179 !important;
}

.v-application .secondary--text.text--lighten-2 {
    color: #ffb179 !important;
    caret-color: #ffb179 !important;
}

.v-application .secondary.lighten-1 {
    background-color: #ff955f !important;
    border-color: #ff955f !important;
}

.v-application .secondary--text.text--lighten-1 {
    color: #ff955f !important;
    caret-color: #ff955f !important;
}

.v-application .secondary.darken-1 {
    background-color: #df5f2d !important;
    border-color: #df5f2d !important;
}

.v-application .secondary--text.text--darken-1 {
    color: #df5f2d !important;
    caret-color: #df5f2d !important;
}

.v-application .secondary.darken-2 {
    background-color: #c04514 !important;
    border-color: #c04514 !important;
}

.v-application .secondary--text.text--darken-2 {
    color: #c04514 !important;
    caret-color: #c04514 !important;
}

.v-application .secondary.darken-3 {
    background-color: #a12900 !important;
    border-color: #a12900 !important;
}

.v-application .secondary--text.text--darken-3 {
    color: #a12900 !important;
    caret-color: #a12900 !important;
}

.v-application .secondary.darken-4 {
    background-color: #830500 !important;
    border-color: #830500 !important;
}

.v-application .secondary--text.text--darken-4 {
    color: #830500 !important;
    caret-color: #830500 !important;
}

.v-application .accent {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.v-application .accent--text {
    color: #ffc107 !important;
    caret-color: #ffc107 !important;
}

.v-application .accent.lighten-5 {
    background-color: #ffffae !important;
    border-color: #ffffae !important;
}

.v-application .accent--text.text--lighten-5 {
    color: #ffffae !important;
    caret-color: #ffffae !important;
}

.v-application .accent.lighten-4 {
    background-color: #ffff91 !important;
    border-color: #ffff91 !important;
}

.v-application .accent--text.text--lighten-4 {
    color: #ffff91 !important;
    caret-color: #ffff91 !important;
}

.v-application .accent.lighten-3 {
    background-color: #ffff74 !important;
    border-color: #ffff74 !important;
}

.v-application .accent--text.text--lighten-3 {
    color: #ffff74 !important;
    caret-color: #ffff74 !important;
}

.v-application .accent.lighten-2 {
    background-color: #fff956 !important;
    border-color: #fff956 !important;
}

.v-application .accent--text.text--lighten-2 {
    color: #fff956 !important;
    caret-color: #fff956 !important;
}

.v-application .accent.lighten-1 {
    background-color: #ffdd37 !important;
    border-color: #ffdd37 !important;
}

.v-application .accent--text.text--lighten-1 {
    color: #ffdd37 !important;
    caret-color: #ffdd37 !important;
}

.v-application .accent.darken-1 {
    background-color: #e0a600 !important;
    border-color: #e0a600 !important;
}

.v-application .accent--text.text--darken-1 {
    color: #e0a600 !important;
    caret-color: #e0a600 !important;
}

.v-application .accent.darken-2 {
    background-color: #c18c00 !important;
    border-color: #c18c00 !important;
}

.v-application .accent--text.text--darken-2 {
    color: #c18c00 !important;
    caret-color: #c18c00 !important;
}

.v-application .accent.darken-3 {
    background-color: #a27300 !important;
    border-color: #a27300 !important;
}

.v-application .accent--text.text--darken-3 {
    color: #a27300 !important;
    caret-color: #a27300 !important;
}

.v-application .accent.darken-4 {
    background-color: #855a00 !important;
    border-color: #855a00 !important;
}

.v-application .accent--text.text--darken-4 {
    color: #855a00 !important;
    caret-color: #855a00 !important;
}

.v-application .error {
    background-color: #ff5252 !important;
    border-color: #ff5252 !important;
}

.v-application .error--text {
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
}

.v-application .error.lighten-5 {
    background-color: #ffe4d5 !important;
    border-color: #ffe4d5 !important;
}

.v-application .error--text.text--lighten-5 {
    color: #ffe4d5 !important;
    caret-color: #ffe4d5 !important;
}

.v-application .error.lighten-4 {
    background-color: #ffc6b9 !important;
    border-color: #ffc6b9 !important;
}

.v-application .error--text.text--lighten-4 {
    color: #ffc6b9 !important;
    caret-color: #ffc6b9 !important;
}

.v-application .error.lighten-3 {
    background-color: #ffa99e !important;
    border-color: #ffa99e !important;
}

.v-application .error--text.text--lighten-3 {
    color: #ffa99e !important;
    caret-color: #ffa99e !important;
}

.v-application .error.lighten-2 {
    background-color: #ff8c84 !important;
    border-color: #ff8c84 !important;
}

.v-application .error--text.text--lighten-2 {
    color: #ff8c84 !important;
    caret-color: #ff8c84 !important;
}

.v-application .error.lighten-1 {
    background-color: #ff6f6a !important;
    border-color: #ff6f6a !important;
}

.v-application .error--text.text--lighten-1 {
    color: #ff6f6a !important;
    caret-color: #ff6f6a !important;
}

.v-application .error.darken-1 {
    background-color: #df323b !important;
    border-color: #df323b !important;
}

.v-application .error--text.text--darken-1 {
    color: #df323b !important;
    caret-color: #df323b !important;
}

.v-application .error.darken-2 {
    background-color: #bf0025 !important;
    border-color: #bf0025 !important;
}

.v-application .error--text.text--darken-2 {
    color: #bf0025 !important;
    caret-color: #bf0025 !important;
}

.v-application .error.darken-3 {
    background-color: #9f0010 !important;
    border-color: #9f0010 !important;
}

.v-application .error--text.text--darken-3 {
    color: #9f0010 !important;
    caret-color: #9f0010 !important;
}

.v-application .error.darken-4 {
    background-color: #800000 !important;
    border-color: #800000 !important;
}

.v-application .error--text.text--darken-4 {
    color: #800000 !important;
    caret-color: #800000 !important;
}

.v-application .info {
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
}

.v-application .info--text {
    color: #2196f3 !important;
    caret-color: #2196f3 !important;
}

.v-application .info.lighten-5 {
    background-color: #d4ffff !important;
    border-color: #d4ffff !important;
}

.v-application .info--text.text--lighten-5 {
    color: #d4ffff !important;
    caret-color: #d4ffff !important;
}

.v-application .info.lighten-4 {
    background-color: #b5ffff !important;
    border-color: #b5ffff !important;
}

.v-application .info--text.text--lighten-4 {
    color: #b5ffff !important;
    caret-color: #b5ffff !important;
}

.v-application .info.lighten-3 {
    background-color: #95e8ff !important;
    border-color: #95e8ff !important;
}

.v-application .info--text.text--lighten-3 {
    color: #95e8ff !important;
    caret-color: #95e8ff !important;
}

.v-application .info.lighten-2 {
    background-color: #75ccff !important;
    border-color: #75ccff !important;
}

.v-application .info--text.text--lighten-2 {
    color: #75ccff !important;
    caret-color: #75ccff !important;
}

.v-application .info.lighten-1 {
    background-color: #51b0ff !important;
    border-color: #51b0ff !important;
}

.v-application .info--text.text--lighten-1 {
    color: #51b0ff !important;
    caret-color: #51b0ff !important;
}

.v-application .info.darken-1 {
    background-color: #007cd6 !important;
    border-color: #007cd6 !important;
}

.v-application .info--text.text--darken-1 {
    color: #007cd6 !important;
    caret-color: #007cd6 !important;
}

.v-application .info.darken-2 {
    background-color: #0064ba !important;
    border-color: #0064ba !important;
}

.v-application .info--text.text--darken-2 {
    color: #0064ba !important;
    caret-color: #0064ba !important;
}

.v-application .info.darken-3 {
    background-color: #004d9f !important;
    border-color: #004d9f !important;
}

.v-application .info--text.text--darken-3 {
    color: #004d9f !important;
    caret-color: #004d9f !important;
}

.v-application .info.darken-4 {
    background-color: #003784 !important;
    border-color: #003784 !important;
}

.v-application .info--text.text--darken-4 {
    color: #003784 !important;
    caret-color: #003784 !important;
}

.v-application .success {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}

.v-application .success--text {
    color: #4caf50 !important;
    caret-color: #4caf50 !important;
}

.v-application .success.lighten-5 {
    background-color: #dcffd6 !important;
    border-color: #dcffd6 !important;
}

.v-application .success--text.text--lighten-5 {
    color: #dcffd6 !important;
    caret-color: #dcffd6 !important;
}

.v-application .success.lighten-4 {
    background-color: #beffba !important;
    border-color: #beffba !important;
}

.v-application .success--text.text--lighten-4 {
    color: #beffba !important;
    caret-color: #beffba !important;
}

.v-application .success.lighten-3 {
    background-color: #a2ff9e !important;
    border-color: #a2ff9e !important;
}

.v-application .success--text.text--lighten-3 {
    color: #a2ff9e !important;
    caret-color: #a2ff9e !important;
}

.v-application .success.lighten-2 {
    background-color: #85e783 !important;
    border-color: #85e783 !important;
}

.v-application .success--text.text--lighten-2 {
    color: #85e783 !important;
    caret-color: #85e783 !important;
}

.v-application .success.lighten-1 {
    background-color: #69cb69 !important;
    border-color: #69cb69 !important;
}

.v-application .success--text.text--lighten-1 {
    color: #69cb69 !important;
    caret-color: #69cb69 !important;
}

.v-application .success.darken-1 {
    background-color: #2d9437 !important;
    border-color: #2d9437 !important;
}

.v-application .success--text.text--darken-1 {
    color: #2d9437 !important;
    caret-color: #2d9437 !important;
}

.v-application .success.darken-2 {
    background-color: #00791e !important;
    border-color: #00791e !important;
}

.v-application .success--text.text--darken-2 {
    color: #00791e !important;
    caret-color: #00791e !important;
}

.v-application .success.darken-3 {
    background-color: #006000 !important;
    border-color: #006000 !important;
}

.v-application .success--text.text--darken-3 {
    color: #006000 !important;
    caret-color: #006000 !important;
}

.v-application .success.darken-4 {
    background-color: #004700 !important;
    border-color: #004700 !important;
}

.v-application .success--text.text--darken-4 {
    color: #004700 !important;
    caret-color: #004700 !important;
}

.v-application .warning {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.v-application .warning--text {
    color: #ffc107 !important;
    caret-color: #ffc107 !important;
}

.v-application .warning.lighten-5 {
    background-color: #ffffae !important;
    border-color: #ffffae !important;
}

.v-application .warning--text.text--lighten-5 {
    color: #ffffae !important;
    caret-color: #ffffae !important;
}

.v-application .warning.lighten-4 {
    background-color: #ffff91 !important;
    border-color: #ffff91 !important;
}

.v-application .warning--text.text--lighten-4 {
    color: #ffff91 !important;
    caret-color: #ffff91 !important;
}

.v-application .warning.lighten-3 {
    background-color: #ffff74 !important;
    border-color: #ffff74 !important;
}

.v-application .warning--text.text--lighten-3 {
    color: #ffff74 !important;
    caret-color: #ffff74 !important;
}

.v-application .warning.lighten-2 {
    background-color: #fff956 !important;
    border-color: #fff956 !important;
}

.v-application .warning--text.text--lighten-2 {
    color: #fff956 !important;
    caret-color: #fff956 !important;
}

.v-application .warning.lighten-1 {
    background-color: #ffdd37 !important;
    border-color: #ffdd37 !important;
}

.v-application .warning--text.text--lighten-1 {
    color: #ffdd37 !important;
    caret-color: #ffdd37 !important;
}

.v-application .warning.darken-1 {
    background-color: #e0a600 !important;
    border-color: #e0a600 !important;
}

.v-application .warning--text.text--darken-1 {
    color: #e0a600 !important;
    caret-color: #e0a600 !important;
}

.v-application .warning.darken-2 {
    background-color: #c18c00 !important;
    border-color: #c18c00 !important;
}

.v-application .warning--text.text--darken-2 {
    color: #c18c00 !important;
    caret-color: #c18c00 !important;
}

.v-application .warning.darken-3 {
    background-color: #a27300 !important;
    border-color: #a27300 !important;
}

.v-application .warning--text.text--darken-3 {
    color: #a27300 !important;
    caret-color: #a27300 !important;
}

.v-application .warning.darken-4 {
    background-color: #855a00 !important;
    border-color: #855a00 !important;
}

.v-application .warning--text.text--darken-4 {
    color: #855a00 !important;
    caret-color: #855a00 !important;
}

.v-application.header-cartesiam {
    height: 48px;
}

.v-application.footer-cartesiam {
    height: 216px;
}
