<template data-sly-template.render="${ @ downloadText, downloadLink, downloadTextButton}">

    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
    <sly data-sly-call="${clientlib.css @ categories=['cartesiam.downloadNanoEdge']}"></sly>
    <sly data-sly-call="${clientlib.css @ categories=['cartesiam.commons']}"></sly>


    <div class="row download-section py-2" data-sly-use.download="com.mysite.core.models.DownloadNanoEdge">
        <div class="text-center align-self-center col-md-6 col-12">
            <div class="text-h5">${downloadText}</div>
        </div>
        <div class="d-flex align-center justify-center col-md-6 col-12">
            <a href="${downloadLink}" target="_blank"
               class="v-btn v-btn--is-elevated v-btn--has-bg theme--dark v-size--large primary">
                <span class="v-btn__content">${downloadTextButton} </span>
            </a>
        </div>
    </div>

</template>