html {
    box-sizing: border-box;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

html {
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
    padding: 0;
    margin: 0;
}

*, :after, :before {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline-width: 0;
}

:after, :before {
    text-decoration: inherit;
    vertical-align: inherit;
}

.application-cartesiam {
    font-family: Roboto,sans-serif;
    line-height: 1.5;
}

.application-cartesiam a {
    cursor: pointer;
    color: #ff0080;
}

.application-cartesiam .d-none {
    display: none!important;
}

.application-cartesiam .d-flex {
    display: flex!important;
}

.application-cartesiam--is-ltr .v-responsive__sizer~.v-responsive__content {
    margin-left: -100%;
}

.application-cartesiam .justify-space-between {
    justify-content: space-between!important;
}

.application-cartesiam .align-center {
    align-items: center!important;
}

.application-cartesiam .text-decoration-none {
    text-decoration: none!important;
}

.application-cartesiam .font-weight-bold {
    font-weight: 700!important;
}

.application-cartesiam .font-weight-bold {
    font-weight: 700!important;
}

.application-cartesiam .text-h3, .application-cartesiam .text-h4 {
    font-weight: 400;
    font-family: Roboto,sans-serif!important;
}

.application-cartesiam .text-h3 {
    font-size: 3rem!important;
    line-height: 3.125rem;
    letter-spacing: normal!important;
}

.application-cartesiam .text-h5 {
    font-size: 1.5rem!important;
    font-weight: 400;
    letter-spacing: normal!important;
}

.application-cartesiam .text-h6 {
    font-size: 1.25rem!important;
    font-weight: 500;
    letter-spacing: .0125em!important;
}

.application-cartesiam .text-h5, .application-cartesiam .text-h6 {
    line-height: 2rem;
    font-family: Roboto,sans-serif!important;
}


.application-cartesiam .text-overline {
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: .1666666667em!important;
    text-transform: uppercase!important;
}

.application-cartesiam .text-caption, .application-cartesiam .text-overline {
    font-size: .75rem!important;
    font-family: Roboto,sans-serif!important;
}

.application-cartesiam .primary--text {
    color: #ff0080 !important;
    caret-color: #ff0080 !important;
}



.application-cartesiam .mb-2 {
    margin-bottom: 8px!important;
}

.application-cartesiam .mb-4 {
    margin-bottom: 16px!important;
}

.application-cartesiam .white--text {
    color: #fff!important;
    caret-color: #fff!important;
}

.application-cartesiam .my-2 {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
}

.application-cartesiam .font-weight-regular {
    font-weight: 400!important;
}

.application-cartesiam .d-none {
    display: none!important;
}

.application-cartesiam .ml-3 {
    margin-left: 12px!important;
}

.application-cartesiam .text-decoration-none {
    text-decoration: none!important;
}

.application-cartesiam .text-caption {
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: .0333333333em!important;
}

.application-cartesiam .text-caption, .application-cartesiam .text-overline {
    font-size: .75rem!important;
    font-family: Roboto,sans-serif!important;
}

.application-cartesiam .font-weight-light {
    font-weight: 300!important;
}

.application-cartesiam .font-weight-bold {
    font-weight: 700!important;
}

.application-cartesiam.header-cartesiam {
    height: 48px;
}

.application-cartesiam .ma-0 {
    margin: 0!important;
}

.application-cartesiam .pa-0 {
    padding: 0!important;
}

.application-cartesiam .justify-center {
    justify-content: center!important;
}

.application-cartesiam .py-2 {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.application-cartesiam .align-self-center {
    align-self: center!important;
}

.application-cartesiam .text-center {
    text-align: center!important;
}

.application-cartesiam .primary {
    background-color: #ff0080 !important;
    border-color: #ff0080 !important;
}

.application-cartesiam .mt-5 {
    margin-top: 20px!important;
}

.application-cartesiam .mx-4 {
    margin-right: 16px!important;
    margin-left: 16px!important;
}




.containerCartesiam {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 960px) {
    .containerCartesiam {
        max-width: 900px;
    }
}

@media (min-width: 1264px) {
    .containerCartesiam {
        max-width: 1185px;
    }
}

@media (min-width: 1904px) {
    .containerCartesiam {
        max-width: 1785px;
    }
}

.container--fluid {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin: -12px;
}

.row+.row {
    margin-top: 12px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    width: 100%;
    padding: 12px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 960px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.v-image {
    z-index: 0;
}

.v-image__image, .v-image__placeholder {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.v-image__image {
    background-repeat: no-repeat;
}

.v-image__image--contain {
    background-size: contain;
}

.v-btn {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.v-btn--is-elevated {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem;
}

.v-btn:not(.v-btn--disabled) {
    will-change: box-shadow;
}

.v-btn:not(.v-btn--outlined).accent, .v-btn:not(.v-btn--outlined).error, .v-btn:not(.v-btn--outlined).info, .v-btn:not(.v-btn--outlined).primary, .v-btn:not(.v-btn--outlined).secondary, .v-btn:not(.v-btn--outlined).success, .v-btn:not(.v-btn--outlined).warning {
    color: #fff;
}

.v-btn--rounded {
    border-radius: 28px;
}

.v-btn:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.v-btn--icon.v-size--default {
    height: 36px;
    width: 36px
}

.theme--dark.v-btn.v-btn--has-bg {
    background-color: #272727;
}

.theme--light.v-btn {
    color: rgba(0,0,0,.87);
}

.theme--light.v-btn:hover:before {
    opacity: .08;
}

.v-btn:not(.v-btn--round).v-size--large {
    height: 44px;
    min-width: 78px;
    padding: 0 19.5555555556px;
}

.v-btn__content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
}

.v-btn--fab, .v-btn--icon {
    min-height: 0;
    min-width: 0;
    padding: 0;
}

.v-btn--round {
    border-radius: 50%;
}

.v-btn.v-size--default, .v-btn.v-size--large {
    font-size: .875rem;
}

.v-btn--fab.v-size--default .v-icon, .v-btn--fab.v-size--small .v-icon, .v-btn--icon.v-size--default .v-icon, .v-btn--icon.v-size--small .v-icon {
    height: 24px;
    font-size: 24px;
    width: 24px;
}

.v-btn:not(.v-btn--round).v-size--default {
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
}

.theme--light.v-icon {
    color: rgba(0,0,0,.54);
}

.v-icon.v-icon {
    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    font-size: 24px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.v-btn>.v-btn__content .v-icon {
    color: inherit;
}

.v-responsive {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 100%;
    display: flex;
}

.v-responsive__sizer {
    transition: padding-bottom .2s cubic-bezier(.25,.8,.5,1);
    flex: 1 0 0px;
}

.v-responsive__content {
    flex: 1 0 0px;
    max-width: 100%;
}

@media (min-width: 960px) {
    .application-cartesiam .d-md-block {
        display: block !important;
    }
}

@media (min-width: 600px){
    .application-cartesiam .d-sm-block {
        display: block!important;
    }}

.theme--light.application-cartesiam {
    background: #fff;
    color: rgba(0,0,0,.87);
}

.v-sheet {
    border-radius: 0;
}

.theme--light.v-sheet {
    background-color: #fff;
    border-color: #fff;
    color: rgba(0,0,0,.87);
}

.theme--light.v-image {
    color: rgba(0,0,0,.87);
}

.grow, .spacer {
    flex-grow: 1!important;
}

.no-gutters {
    margin: 0;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding: 0;
}


