<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories=['cartesiam.header']}"></sly>
<sly data-sly-call="${clientlib.css @ categories=['cartesiam.commons']}"></sly>

<div class="application-cartesiam header-cartesiam" data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
     data-sly-use.header="com.mysite.core.models.Header">

    <header class="v-sheet theme--light v-toolbar v-toolbar--dense v-toolbar--flat v-app-bar v-app-bar--clipped v-app-bar--fixed" id="header-cartesiam">
        <div class="v-toolbar__content" style="height: 48px;">
            <a href="${header.homepageLink}" class="d-none d-md-block router-link-exact-active router-link-active">
            <div class="v-image v-responsive theme--light" style="height: 50px; max-width: 300px;">
                <div class="v-responsive__sizer" style="padding-bottom: 31.9406%;"></div>
                <div class="v-image__image v-image__image--contain" style="background-image:url('${header.nanoEdgeImage @ context='styleString'}');
                          background-position: center center;"></div>
                <div class="v-responsive__content" style="width: 1819px;"></div>
            </div>
        </a>
            <div class="spacer"></div>
            <div class="d-flex flex-no-wrap justify-space-between align-center cardColor">
                <a href="${header.homepageLink}" class="text-decoration-none router-link-exact-active router-link-active">
                <div class="text-h5 font-weight-bold coming-soon">${header.useCaseTitle}</div>
                    </a>
                <a href="${header.useCaseLink}" target="_blank" class="d-none d-sm-block text-decoration-none ml-3 text-caption font-weight-regular white--text"
                   style="line-height: 120%;">
                    <span class="font-weight-light">Powered by</span>
                    <br>
                    <span data-v-5f163166="" class="font-weight-bold">NanoEdge™ AI Studio</span>
                </a>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>

        </div>
    </header>

</div>

