<div class="application-cartesiam" data-sly-use.usecase="com.mysite.core.models.UseCaseHeading"
data-sly-test.isConfigured="${usecase.configured}">
    <div class="text-overline">${usecase.category}</div>
    <div class="text-h3 primary--text mb-2">${usecase.title}</div>
    <div class="text-h6 text--dark mb-4">${usecase.subtitle}</div>
</div>

<!--/*Placeholder*/-->
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"></sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !isConfigured}"></sly>
