<h1>OSGi Configuration Demo</h1>
<div data-sly-use.osgiconfig="com.mysite.core.models.OSGiConfigDemo"></div>
<div><p> Service ID : <b>${osgiconfig.serviceId}</b></p></div>
<div><p> Service Name : <b>${osgiconfig.serviceNameModule}</b></p></div>
<div><p> Service URL : <b>${osgiconfig.serviceURL}</b></p></div>